@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
}

/* ListView.css */
.container {
	width: 95%;
	max-width: 700px;
	margin: 0 auto;
}
.list-headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 5px solid black;
}
.button {
	min-width: 50px;
	min-height: 25px;
	background-color: seagreen;
	border-radius: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
	outline: none;
	border: none;
}
.button:hover {
	cursor: pointer;
}
.list {
	list-style: none;
	margin-left: 10px;
	padding: 0;
}


/* ListItem.css */
.list-item {
	font-size: 1.5rem;
	height: 100px;
	overflow-y: hidden;
	margin-bottom: 10px;
}
.li-inner {
	height: 100%;
	font-size: 1rem;
}
a {
	text-decoration: none;
}
.item-header {
	margin: 0;
	margin-bottom: 5px;
	color: black;
}
.recipe-actions {
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-start;
}
.recipe-action {
	margin: 0 5px;
}
.recipe-action {
	color: inherit;
	text-decoration: none;
}
.recipe-action:hover,
.item-header:hover {
	text-decoration: underline;
	cursor: pointer;
	color: seagreen;
}
.item-summary {
	max-width: 100%;
	height: 100%;
	margin: 0;
}


/* EditItemView.css */
.edit-form {
	width: 95%;
	max-width: 700px;
	margin: 0 auto;
} 
.form-group {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	/* border-bottom: 1px solid black; */
}
label {
	font-size: 1.25rem;
	display: block;
}
input {
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	color: grey;
	border: none;
	border-bottom: 1px solid lightgrey;
}
textarea {
	width: 100%;
	height: 100px;
	overflow-y: scroll;
}
.ingredients-inputs {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.inline-group label {
	font-size: 1.05rem;
}
.ingredients-list {
	padding-left: 15px;
	margin-left: 10px;
}
.ingredient-info:after {
	content: ' ';
}
.inline-group {
	text-align: center;
	margin: 0 auto;
}
.ingredient-quantity {
	width: 50px;
}
.ingredient-unit {
	width: 100px;
}
.button--add-ingredient,
.button--add-step {
	margin: 10px;
	min-height: 30px;
	border-radius: 5px;
	font-size: 1rem;
	background-color: black;
	color: white;
}
.button--add-step {
	float: right;
}
.submit-buttons {
	width: 100%;
	padding-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	border-top: 1px solid lightgrey;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button--cancel,
.button--save {
	padding: 5px 10px;
	font-size: 1.25rem;
}
.button--cancel {
	background-color: darkred;
}


/* ItemView.css */
.recipe-container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.recipe-subheader {
	font-size: 0.95rem;
	color: grey;
	margin: 0;
	margin-left: 10px;
}
.recipe-subheader:after {
	content: ')';
}
.recipe-subheader:before {
	content: '(';
}
.back {
	float: right;
	text-decoration: none;
	color: inherit;
	margin-bottom: 15px;
}
.back:hover {
	text-decoration: underline;
	color: seagreen;
}
.section {
	margin: 15px 20px;
	padding-top: 10px;
}


/* ItemDescription.css */


/* ItemIngredients.css */
.ingredient-quantity:after,
.ingredient-unit:after {
	content: ' ';
}
